/* Основные стили */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Arial для шрифта */
    padding-top: 50px; /* Отступ сверху для навбара */
    background-color: lightyellow; /* Установка светло-желтого фона для всего сайта */
}

/* Навигационная панель */
.navbar {
    margin-bottom: 20px;
}

/* Jumbotron */
.jumbotron {
    background-color: #f8f9fa;
}

/* Стили для футера */
footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #f1f1f1;
}

/* Стили для заголовков секций */
h2 {
    margin-top: 50px;
}

/* Контейнер для страницы */
.container {
    width: 100%;
    padding: 20px;
    background-color: lightyellow;
}

/* Стили заголовка */
header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 3em;
    color: #333;
}

/* Стили для секций */
.section {
    border: 1px solid black;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    background-color: lightyellow;
    color: black;
}

/* Цвета фона для каждой секции */
.section1 {
    background-color: lightcoral;
}

.section2 {
    background-color: lightblue;
}

.section3 {
    background-color: lightgreen;
}

/* Цвета для заголовков каждой секции */
.section-title {
    position: absolute;
    top: -50px;
    right: -1px;
    padding: 5px;
    border: 1px solid black;
    font-size: 1.2em;
    font-weight: bold;
}

.section1 .section-title {
    background-color: red;
    color: white;
}

.section2 .section-title {
    background-color: blue;
    color: white;
}

.section3 .section-title {
    background-color: green;
    color: white;
}

/* Адаптивный дизайн: Десктоп */
@media (min-width: 992px) {
    .section {
        float: left;
        width: 30%;
    }
}

/* Адаптивный дизайн: Планшет */
@media (min-width: 768px) and (max-width: 991px) {
    .section {
        width: 45%;
        float: left;
    }

    .section2 {
        clear: left;
    }

    .section3 {
        width: 95%;
        clear: left;
    }
}

/* Адаптивный дизайн: Мобильные устройства */
@media (max-width: 767px) {
    .section {
        width: 95%;
        margin: 10px auto;
        float: none;
    }
}
